<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appattt">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <activity
            android:name=".forum.ForumHomeActivity"
            android:theme="@style/Theme.Appattt"
            android:exported="true" />
        <activity
            android:name=".forum.ForumThreadListActivity"
            android:label="Threads"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".forum.ForumThreadDetailActivity"
            android:label="Thread Detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".forum.CreatePostActivity"
            android:label="New Post"
            android:theme="@style/Theme.Appattt" />

        <activity
            android:name=".forum.WriteupsListActivity"
            android:label="Write-ups"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".forum.WriteupDetailActivity"
            android:label="Write-up Detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".forum.SubmitWriteupActivity"
            android:label="Submit Write-up"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
